<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
  </head>

  <body>

    <div id="store" data-role="page" data-theme="c">
      <div data-role="header" data-position="fixed">
        <h1>Shop for items for Esa!</h1>
      </div>

      <div id="item_frame">

        <ul id="items" data-role="listview" data-inset="true">
          <!-- Populate store items here with javascript -->
        </ul>

        <div data-role="popup" id="popup" aria-disabled="false" data-disabled="false" data-shadow="true" data-corners="true" data-position-to="window">
          <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
          <h1 id="store_title" ></h1>
          <hr>
          <div role="main">
            <h2 id=store_description></h3>

            <div class="ui-grid-a">
              <div class="ui-block-a">
                <label><u>Cost</u></label>
                <label id="store_item_cost">x</label>
              </div>
              <div class="ui-block-b">
                <label><u>Bonus</u></label>
                <label id="store_pets_per_click">y</label>
              </div>
              <div class="ui-block-a">
                <label><u>Your Hearts</u></label>
                <label id="store_total_pets">z</label>
              </div>
              <div class="ui-block-b">
                <a id="store_buy" data-role="button" data-icon="plus" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Buy It!</span></span></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div data-role="footer" data-position="fixed" >
        <a onclick="$.mobile.back();setTimeout(nextChapter,1000);" class="button">Back</a>
      </div>
    </div>

  </body>

</html>
